var div_book = document.querySelector('[data-id="<%= @book.id %>"] article.media')

var update_book =`<div class="align-self-start">
                    <figure class="figure">
                      <img src="http://placehold.jp/64x64.png" class="figure-img img-fluid rounded img-thumbnail" alt="...">
                    </figure>
                  </div>
                  <div class="media-body px-3">
                    <h5 class="mt-0"><%= @book.title %></h5>       
                    <strong class="mt-0">Author: <%= @book.authors_name %></strong>
                    <div class="publisher d-flex justify-content-between">
                      <small>Publisher: <%= @book.publishers_name %></small>
                      <small>Genre: <%= @book.genre %></small>
                    </div>
                  </div>`

div_book.innerHTML = update_book

var remove_divs = document.querySelector('.book_detail__content')
remove_divs.parentNode.removeChild(remove_divs)